<p><b>[INFO]</b>&nbsp;Image "C:\Projetos\Desafio\cenarios\imagens\numero_9.png" found at Box(left=427, top=527, width=100, height=74)</p><p><b>[INFO]</b>&nbsp;Clicking image "Numero_9.png" in position (477, 564)</p>