<p><b>[INFO]</b>&nbsp;Image "c:\projetos\desafio\cenarios\imagens\botao_fechar.png" found at Box(left=563, top=125, width=65, height=35)</p><p><b>[INFO]</b>&nbsp;Clicking image "C:/Projetos/Desafio/cenarios/imagens/Botao_fechar.png" in position (595, 142)</p>