<p style="color: red"><b>[FAIL]</b>&nbsp;Multiple keywords with name 'Iniciar aplicacao' found. Give the full name of the keyword you want to use:<br>    utils.Iniciar aplicacao<br>    utils.Iniciar aplicacao</p>