<p><b>[INFO]</b>&nbsp;Image "C:\Projetos\Desafio Iago\Desafio\cenarios_win11\imagens\numero_7.png" found at Box(left=12, top=423, width=126, height=55)</p><p><b>[INFO]</b>&nbsp;Clicking image "Numero_7.png" in position (75, 450)</p>