<p><b>[INFO]</b>&nbsp;Image "C:\Projetos\Desafio Iago\Desafio\cenarios_win11\imagens\botao_multiplicacao.png" found at Box(left=381, top=423, width=128, height=60)</p><p><b>[INFO]</b>&nbsp;Clicking image "botao_multiplicacao.png" in position (445, 453)</p>