<p><b>[INFO]</b>&nbsp;Image "C:\Projetos\Desafio Iago\Desafio\cenarios_win11\imagens\numero_1.png" found at Box(left=14, top=529, width=126, height=54)</p><p><b>[INFO]</b>&nbsp;Clicking image "Numero_1.png" in position (77, 556)</p>