<p><b>[INFO]</b>&nbsp;Image "C:\Projetos\Desafio\cenarios\imagens\numero_7.png" found at Box(left=231, top=529, width=97, height=73)</p><p><b>[INFO]</b>&nbsp;Clicking image "Numero_7.png" in position (279, 565)</p>