<p style="color: red"><b>[FAIL]</b>&nbsp;Multiple keywords with name 'Fechar aplicacao' found. Give the full name of the keyword you want to use:<br>    utils.Fechar aplicacao<br>    utils.Fechar aplicacao</p>