<p><b>[INFO]</b>&nbsp;Image "C:\Projetos\Desafio\cenarios\imagens\botao_divisao.png" found at Box(left=523, top=456, width=103, height=73)</p><p><b>[INFO]</b>&nbsp;Clicking image "botao_divisao.png" in position (574, 492)</p>