<p><b>[INFO]</b>&nbsp;Image "C:\Projetos\Desafio\cenarios\imagens\numero_8.png" found at Box(left=327, top=530, width=101, height=70)</p><p><b>[INFO]</b>&nbsp;Clicking image "Numero_8.png" in position (377, 565)</p>