<p><b>[INFO]</b>&nbsp;Image "C:\Projetos\Desafio Iago\Desafio\cenarios_win11\imagens\numero_9.png" found at Box(left=257, top=423, width=130, height=56)</p><p><b>[INFO]</b>&nbsp;Clicking image "Numero_9.png" in position (322, 451)</p>