<p><b>[INFO]</b>&nbsp;Image "C:\Projetos\Desafio\cenarios\imagens\botao_multiplicacao.png" found at Box(left=522, top=529, width=105, height=71)</p><p><b>[INFO]</b>&nbsp;Clicking image "botao_multiplicacao.png" in position (574, 564)</p>