<p><b>[INFO]</b>&nbsp;Image "C:\Projetos\Desafio\cenarios\imagens\numero_3.png" found at Box(left=426, top=670, width=102, height=73)</p><p><b>[INFO]</b>&nbsp;Clicking image "Numero_3.png" in position (477, 706)</p>