<p><b>[INFO]</b>&nbsp;Image "C:\Projetos\Desafio\cenarios\imagens\numero_1.png" found at Box(left=229, top=667, width=104, height=81)</p><p><b>[INFO]</b>&nbsp;Clicking image "Numero_1.png" in position (281, 707)</p>