<p><b>[INFO]</b>&nbsp;Image "C:\Projetos\Desafio Iago\Desafio\cenarios_win11\imagens\botao_divisao.png" found at Box(left=381, top=369, width=123, height=54)</p><p><b>[INFO]</b>&nbsp;Clicking image "botao_divisao.png" in position (442, 396)</p>