<p><b>[INFO]</b>&nbsp;Image "C:\Projetos\Desafio Iago\Desafio\cenarios_win11\imagens\numero_3.png" found at Box(left=257, top=530, width=127, height=53)</p><p><b>[INFO]</b>&nbsp;Clicking image "Numero_3.png" in position (320, 556)</p>