<p><b>[INFO]</b>&nbsp;Image "C:\Projetos\Desafio Iago\Desafio\cenarios_win11\imagens\numero_6.png" found at Box(left=260, top=476, width=125, height=55)</p><p><b>[INFO]</b>&nbsp;Clicking image "Numero_6.png" in position (322, 503)</p>