<p><b>[INFO]</b>&nbsp;Image "C:\Projetos\Desafio Iago\Desafio\cenarios_win11\imagens\numero_8.png" found at Box(left=133, top=420, width=129, height=55)</p><p><b>[INFO]</b>&nbsp;Clicking image "Numero_8.png" in position (197, 447)</p>