<p><b>[INFO]</b>&nbsp;Image "C:\Projetos\Desafio Iago\Desafio\cenarios_win11\imagens\botao_soma.png" found at Box(left=388, top=533, width=113, height=47)</p><p><b>[INFO]</b>&nbsp;Clicking image "botao_soma.png" in position (444, 556)</p>