<p><b>[INFO]</b>&nbsp;Image "C:\Projetos\Desafio Iago\Desafio\cenarios_win11\imagens\botao_subtracao.png" found at Box(left=389, top=483, width=116, height=48)</p><p><b>[INFO]</b>&nbsp;Clicking image "botao_subtracao.png" in position (447, 507)</p>