<p><b>[INFO]</b>&nbsp;Image "C:\Projetos\Desafio Iago\Desafio\cenarios_win11\imagens\numero_2.png" found at Box(left=138, top=530, width=124, height=55)</p><p><b>[INFO]</b>&nbsp;Clicking image "Numero_2.png" in position (200, 557)</p>