<p><b>[INFO]</b>&nbsp;Image "C:\Projetos\Desafio\cenarios\imagens\numero_2.png" found at Box(left=329, top=672, width=99, height=73)</p><p><b>[INFO]</b>&nbsp;Clicking image "Numero_2.png" in position (378, 708)</p>