<p><b>[INFO]</b>&nbsp;Image "C:\Projetos\Desafio\cenarios\imagens\botao_subtracao.png" found at Box(left=524, top=598, width=103, height=76)</p><p><b>[INFO]</b>&nbsp;Clicking image "botao_subtracao.png" in position (575, 636)</p>