<p><b>[INFO]</b>&nbsp;Image "C:\Projetos\Desafio\cenarios\imagens\botao_igual.png" found at Box(left=525, top=742, width=100, height=77)</p><p><b>[INFO]</b>&nbsp;Clicking image "botao_igual.png" in position (575, 780)</p>