<p><b>[INFO]</b>&nbsp;Image "C:\Projetos\Desafio Iago\Desafio\cenarios_win11\imagens\botao_igual.png" found at Box(left=385, top=586, width=119, height=48)</p><p><b>[INFO]</b>&nbsp;Clicking image "botao_igual.png" in position (444, 610)</p>