<p><b>[INFO]</b>&nbsp;Image "C:\Projetos\Desafio\cenarios\imagens\numero_6.png" found at Box(left=426, top=600, width=101, height=74)</p><p><b>[INFO]</b>&nbsp;Clicking image "Numero_6.png" in position (476, 637)</p>