<p><b>[INFO]</b>&nbsp;Image "C:\Projetos\Desafio\cenarios\imagens\botao_soma.png" found at Box(left=525, top=673, width=102, height=71)</p><p><b>[INFO]</b>&nbsp;Clicking image "botao_soma.png" in position (576, 708)</p>